html, body {
	background:#f7f6f4;
	font-family: 'robotoregular', sans-serif;
	font-size:14px;
	color:#000000;
	line-height: 1.6;
	overflow:auto;
	min-height:100%;
}
.wrapper {position:relative; height:100%;}
h1, .h1 {
	font-family: 'robotolight', sans-serif;
	font-size:32px;
	font-weight:300;
}
.font-15 {
	font-size:15px;
}
.font-20 {
	font-size:20px;
	font-weight:500;
}
.font-22 {
	font-size:22px;
}
input, button, select, textarea {
	font-family: 'robotoregular', sans-serif;
}
a {cursor:pointer; text-decoration:none; color:#4879ab;}

.container {width:auto; min-width:640px; padding-left:35px; padding-right:35px;}

@media (min-width: 992px) {
  .container {
    width: 970px;
	padding-left:15px;
	padding-right:15px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/*header*/
.navbar {
	margin-bottom:0;
}
@media (min-width:992px) {
	header {
		padding-top:35px;
	}	
}
a.logo {
	display:none;
	width:252px;
	height:63px;
	margin:0 auto 35px;
}
.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {	
	margin-left:0;
}
.navbar-brand {
	margin-top:15px;
	margin-bottom:15px;
	width:252px;
	height:63px;
	padding: 0;
	display:block;
	margin-left:auto !important;
	margin-right:auto !important;	
}
 .navbar-brand img{
	text-align:center;
	display:block;
}
.navbar-default {
	background:#ffffff;
	min-width:640px;
}
.navbar-default .navbar-nav > li {
	display:block;
	text-align:center;

}
.navbar-default .navbar-nav > li > a , .navbar-default .navbar-link {
	font-size:36px;
	color:#ffffff;
	height:90px;
	line-height:70px;
	font-family: 'robotomedium', sans-serif;
	text-transform:uppercase;
	background:url(../images/backg-mobile-menu.jpg) no-repeat 50% 100%;
	display:block;
}
.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {	
	margin-left:0;
}
.navbar-default .navbar-link {background:none;}
.navbar-default .navbar-link:hover {text-decoration:none;}
.navbar-text.navbar-right {
	float:none;
	text-align:center;
}
.navbar-text {margin-top:0;}
@media(min-width:992px) {
	.navbar-text {margin-top:15px;}
}
header .navbar-collapse.in {
	overflow-y:visible;
}

.navbar-collapse {
	background:#4879ab;
	position:fixed;
	top:95px;
	left:0;
	right:0;
	bottom:0;
	z-index:10000000000;
	
}
button.navbar-toggle {
	background-image:url(../images/nav-mobile.png);
	background-position: 0 0;
	background-repeat:no-repeat;
} 
.navbar-toggle-close {
	background-position: 100% 0 !important;	
}
@media(min-width:992px) {
	.navbar-brand {display:none;}
	a.logo {display:block;}
	.navbar-collapse {background:#ffffff; position:static; padding-top:0; 	padding-bottom:0;}
}
.navbar-toggle {
	margin-top:25px;
	margin-right:0;
}
@media(min-width:992px) {
	.navbar-default .navbar-nav > li > a , .navbar-default .navbar-link {
		color:#292c35;
		text-transform:uppercase;
		font-family: 'robotomedium', sans-serif;
		font-size:13px;
		/*padding-left:25px;
		padding-right:25px;*/
        padding-left:23px;
		padding-right:23px;
		float:left;
		letter-spacing:.2em;
		height:auto;
		line-height: 1.56;
	}
	header .nav{margin-left:-15px;}
	header  .navbar-text {margin-right:-15px;}
	.navbar-default .navbar-nav > li > a:hover {
		color:#82151b;
	}
	.navbar-default .navbar-nav > li.active > a {
		background:#e6e9ec;
	}
	.navbar-default .navbar-link  {
		display:block;
		color:#292c35;
		text-transform:uppercase;
		font-size:13px;
		padding-right:15px;
		overflow:hidden;
		font-family: 'robotomedium', sans-serif;
		letter-spacing:.2em;

		
	}
	.navbar-default .navbar-link .back-link {
		width:18px;
		height:14px;
		background:url(../images/back-s.png) no-repeat 25% 0;
		display:inline-block;
		
	}
	.navbar-right {
		margin-right:0;
	}
	
}
.back-s {
	background:url(../images/back-s.png) no-repeat;
	width:18px;
	height:18px;
	float:right;
	margin-top:16px;
	display:none;
}
@media (min-width:992px) {
	.back-s {display:block;}
}
@media(min-width:992px) {
	.navbar-default {
		background-color:#ffffff;
		border:none;
	}
}
.navbar {border-radius:0;}
@media(min-width:992px) {
	.container-fluid.menu-container-fluid {width:970px;}
	.logout-menu { margin-left:-15px; margin-right:-15px;}
}
@media(min-width:1200px) {
	.container-fluid.menu-container-fluid {width:1170px;}
}

	
	
/*home-content*/

.home-content {
	padding-top:10px;
	padding-bottom:10px;
}
@media(min-width:768px) {
	.home-content {padding-top:15px;}
}
@media(min-width:992px) {
	.home-content {padding-top:35px;}
}
.home-content h1 {
	text-align:center;
	font-size:35px;
	color:#292c35;
	text-transform:uppercase;
	letter-spacing:0.05em;
}
.home-content h1 small {
	font-size:16px;
	color:#5f6067;
	font-weight:normal;
	letter-spacing:.1em;
	font-family: 'robotoregular', sans-serif;
}
@media(min-width:768px) {
	.home-content h1 {font-size:50px;}
	.home-content h1 small {font-size:22px;}
}
@media(min-width:992px) {
	.home-content h1 {font-size:33px;}
	.home-content h1 small {font-size:15px;}
}
.home-slaider {
	max-width:984px;
	margin:-10px auto 0;
	position:relative;
}
.home-slider-pagination {
	position:absolute;
	top:15%;
	bottom:18%;
	width:1px;
	background:#cacbce;
	right:10%;
}
.home-paginations-a {
	position:absolute;
	width:60px;
	height:56px;
	background:url(../images/bg-for-home-slider.png) no-repeat;
	top:50%;
	margin-top:-27px;
	left:-32px;
	
}
.home-paginations-a a {
	background-image:url(../images/nav-home-slider.png);
	background-repeat:no-repeat;
	width:14px;
	height:24px;
	display:inline-block;	
	text-indent:-99999px;
	margin-top:15px;
	
}
.home-paginations-a .prev {
	background-position:0 0;
	margin-left:15px;
	margin-right:2px;

}
.home-paginations-a .next {
	background-position: 100% 0;
}
.btn-danger {
	background:#82161b;
	text-transform:uppercase;
	border:none;
	font-size:18px;
	padding-left:50px;
	padding-right:50px;
	font-family: 'robotomedium', sans-serif;
}
.btn-danger:hover, .btn-danger:focus{
	background:#b33830;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger:active,
.btn-danger.active,
.open > .dropdown-toggle.btn-danger {
	color: #fff;
	background:#b33830;
	background:#b33830;
 }
.p-quation {
	font-size:13px;
	color:#353639;
}
.home-quation {width:500px;position:absolute; left:50%; 	margin-left:-250px; top:90%; text-align:center;}
.home-quation .btn-danger{margin-bottom:17px;}
@media(min-width:768px) {
	.home-quation .btn-danger {float:left;}
	.home-quation .p-quation {float:left; text-align:left; margin-left:20px;}
}

/*footer*/
footer {
	margin-top:80px;
	padding:15px 0 10px;
	background:#ffffff;
	min-width:640px;
}
footer.gallery-footer {
	padding-top:45px;
}
footer.order-footer {
	margin-top:30px;
}
footer.account-footer {
	margin-top:0;
}
@media(min-width:992px) {
	footer.order-footer {margin-top:80px;}
	footer.gallery-footer {padding-top:15px;}
}
.footer-nav {
	/*width:450px;*/
	margin-left:auto;
	margin-right:auto;
	overflow:hidden;
}
.footer-nav  li{
	float:left;
	margin-right:50px;

}
.footer-nav  li:last-child {
	margin-right:0px;
}
.footer-nav li a {
	color:#444444;
	font-size:15px;
	text-transform:uppercase;
	overflow:hidden;
	font-family: 'robotomedium', sans-serif;
}
.footer-social {
	overflow:hidden;
	width:280px;
	margin-left:auto;
	margin-right:auto;
}
.footer-social a {
	float:left;
	margin-right:40px;
	width:20px;
	height:24px;
	background-image:url(../images/social.png);
	background-repeat:no-repeat;
}
.footer-social  a#tw {
	background-position:0 0;
}
.footer-social   a#f {
	background-position:24% 0;
}
.footer-social   a#o {
	background-position:50% 0;
	margin-top:1px;
}
.footer-social   a#ut{
	background-position:77% 0;
}
.footer-social   a#p{
	background-position:100% 0;
	width:18px;
	margin-right:0;
}
@media(min-width:992px) {
	footer {background:#f7f6f4;}
	.footer-nav {float:left;}
	.footer-nav li a {font-size:11px; width:auto;}
	.footer-social {float:right; width:auto; margin-top:0px; margin-bottom:0px;}
	.footer-social a{ margin-right:8px;}
}
#copyright {
	color:#868a95;
	font-size:12px;
	margin-top:20px;
}
/*blog.html*/
.post-main {
	margin-bottom:120px;
}
.post {
	margin-bottom:50px;
}
.post img {
	margin-bottom:25px;
	width:100%;
}
.post hr {
	border:2px solid #b6b6b8;
}
.content-blog {
	margin-top:20px;
}
.content-blog .blog-posts {	
	float:right;
}
.content-blog h1 a, .content-blog h2{
	font-size:32px;
	color:#000000;
	font-family: 'robotolight', sans-serif;
}
time {
	display:block;
	font-size:13px;
	color:#696969;
	margin-bottom:15px;
}
.post-social {
	padding:3px 0;
	overflow:hidden;
}
.post-social a {
	float:left;
	width:28px;
	height:27px;
	margin-right:10px;
	background-image:url(../images/social-blog.png);
	background-repeat:no-repeat;
}
.post-social a.tw {
	background-position:0 0;
}
.post-social a.p{
	background-position:25% 0;
}
.post-social a.f {
	background-position:50% 0;
}
.post-social a.mail {
	background-position:75% 0;
}
.post-social a.c {
	background-position:100% 0;
}
a.comment {
	margin-top:10px;
	padding-left:20px;
	font-size:10px;
	color:#696969;
	text-decoration:none;
	
}
.navbar-default .navbar-nav > li > a.color-gray{
	color:#ffffff;
	background:none;
}
@media(min-width:992px) {
	.navbar-default .navbar-nav > li > a.color-gray {color:#696969;}
}
a.comment span {
	height:20px;
	background:url(../images/back-s.png) no-repeat 60% 0;
	width:28px;
	float:left;
	margin-top:-3px;
}
.back-c {
	background:#e6e9ec;
}
.featured-posts  {
	margin-right:-15px;
	margin-left:-15px;
	padding-top:1px;
	padding-bottom:10px;
}

.featured-posts h2 {
	padding-left:30px;
}
.featured-posts ul li {
	font-size:13px;
	padding:7px 30px;
}
.featured-posts ul li a{
	font-size:13px;
	color:#000000;
}
.full-post .back {
	font-size:13px;
	color:#000000;
	display:block;
	
}
.back span {
	height:20px;
	background:url(../images/back-s.png) no-repeat 93% 100%;
	width:15px;
	float:left;
	margin-top:1px;
}	
/*.gallery-content*/
.gallery-content img {
	width:100%;
	margin-bottom:15px;
}
.gallery-content h1 {
	text-align:center;
	margin-bottom:45px;
	margin-top:20px;
}
.gallery-content .col-xs-6, .gallery-content .col-sm-4 {
	padding-left:7px;
	padding-right:7px;
	
}
@media(max-width:992px) {
	.gallery-content .row {margin-left:-30px !important; 	margin-right:-30px !important;}
}
.loading {
	background:url(../images/loading.png) no-repeat;
	width:40px;
	height:39px;
	margin:20px auto;
}
.gallery-img {
	position:relative;
}
.gallery-content .row {
		margin-left:-15px;
		margin-right:-15px;
	}
	
@media(min-width:768px) {
	.gallery-content .row {
		margin-left:-22px;
		margin-right:-22px;
	}
}
.hover-view {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:rgba(28,39,56, 0);
	-webkit-transition:background 0.5s ease;
	-moz-transition:background 0.5s ease;
	-o-transition:background 0.5s ease;
	transition:background 0.5s ease;
}
.hover-view:hover {
	background:rgba(28,39,56, 0.5);
}
.hover-view a {
	display:none;
	position:absolute;
	top:50%;
	margin-top:-23px;
	left:50%;
	margin-left:-75px;
	color:#ffffff;
	font-size:13px;
	padding:15px 50px;
	border:1px solid #ffffff;
	border-radius:3px;
	text-transform:uppercase;
}
.hover-view:hover  a {
	display:block;
}
.hover-view a:hover, .hover-view a:focus {
	text-decoration:none !important;
}
/*popup*/
.item-comment {
	font-size:13px;
}
.img-popup img {
	width:100%;
	margin-bottom:20px;
}
.img-popup {
	width:100%;
}
@media(min-width:992px) {
	.img-popup {
	width:60%;
	}
	.popup-comments {
	background:#ffffff;
	overflow-y:auto;
	position:absolute;
	top:0;
	right:0;
	height:100%;
	width:40%;
	}
}

.gallery-back {
	display:none;
	width:48px;
	height:31px;
	background:url(../images/back-gallery.png) no-repeat;
	float:left;
	margin-top:30px;
}
.gallery-back-show {display:block;}
@media(min-width:992px) {
	.gallery-back {display:none;}
}
.popup-comments time {
	display:inline;
}
.item-comment {
	border-bottom:1px dotted #000000;
	padding:39px 0 27px;
	margin:-12px 20px 0;
	background:url(../images/item-comment.jpg) no-repeat 50% 0;
}
.first-item-comment {background:none;}
.modal-content {
	border-radius:0;
}
.modal-body {
	padding:0;
}
.button-close {
	position:absolute;
	padding:3px 5px;
	background:#ffffff;
	display:none;
	z-index:1000;
	top:0;
	left:100%;
	border-left:2px solid #cccccc;
}
.button-close .close {
	float:none;
	float:left;
}
@media(min-width:992px) {
	.button-close {display:block;}
}
/*help-content*/
.text-danger {
	color:#82161b;
}
.help-content {
	padding-top:20px;
}
.help-content .col-sm-4 {
	
}
.help-content h2 {
	font-size:32px;
	font-weight:300;
	font-family: 'robotolight', sans-serif;
	
}
.customer-service p {
	margin-bottom:40px;
}
.help-content p.no-margin{
	margin-bottom:10px;
}
.help-content ul  {
	padding-left:20px;
}
.help-content ul li {
	padding-top:5px;
	padding-bottom:5px;
}
.help-content h3 {
	font-size:20px;
	font-family: 'robotolight', sans-serif;
	font-weight:bold;
}
.panel  {
	border:none;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
}
.panel-default > .panel-heading  {
	background:#ffffff;
	border-bottom:none;
}
.panel-default > .panel-heading + .panel-collapse > .panel-body {
	border-top-color:#ffffff;
}
.panel-default > .panel-heading .title-highlighted {
    color: #82161b;
}

.help-content .panel-default > .panel-heading {
	background:#f7f6f4;
}
.back-fff {
	background:#ffffff;
	padding:20px;
}
.panel-group .panel {
	border-radius:0;
}
.help-contact-form {
	padding-bottom:70px;
	padding-top:15px;
	padding-left:35px;
	padding-right:35px;
}
@media(min-width:768px) {
	.help-contact-form {padding-left:15px;	padding-right:15px; padding-top:0; padding-bottom:20px;}
}
.help-contact-form .btn-primary {
	font-size:22px;
}
@media(min-width:992px) {
	.help-contact-form .btn-primary  {font-size:13px;}
}
.panel-title {
	font-size:14px;
}
.panel  .panel-title {
	
}
.customer-service .panel-heading h4 {
	display:list-item;
}
.customer-service .row {
	margin-right:15px;
}
.contact-address {
	background:#ffffff;
	color:#696969;
	padding-top:15px;
	padding-left:35px;
	padding-right:35px;
	padding-bottom:20px;
}
/*content-how-it-works*/
.content-how-it-works {
	text-align:center;
}
.content-how-it-works h1{
	text-align:center;
	font-size:26px;
	margin-bottom:30px;
	margin-top:50px;
}
.content-how-it-works img{
	
	margin-top:90px;
	display:none;
}
.how-back-mobile {
	background:url(../images/how-it-works-mobile.png) no-repeat;
	width:575px;
	height:949px;
	margin:0 auto;
}

@media(min-width:768px) {
	.how-back-mobile {background:none; width:auto; height:auto;}
	.content-how-it-works img {display:block; margin:0 auto;}
	.content-how-it-works h1 {font-size:32px;}
}

.content-how-it-works h2 {
	font-size:18px;
	padding-top:40px;
	padding-bottom:35px;
	font-family: 'robotobold', sans-serif;
	line-height:1.65;
	
}
/*order-content*/
.your-cart-form {
	background:#ffffff;
	margin-bottom:20px;
}
@media(min-width:992px) {
	.help-content-row  {margin-left:-28px; 	margin-right:-35px;}
}
.padding-right-40 {
	padding-right:60px;
	padding-left:30px;
}
.your-cart-form-header {
	padding-top:15px;
	padding-bottom:7px;
}
.block-1{
	padding-left:30px;
	padding-right:20px;
}
.your-cart-form textarea{
	width:280px;
}
.h3 {
	margin-top:0;
}
.color-c8 {
	color:#c8c8c8;
}
.pair-glyph p{
	margin-right:14px;
}
.padding-top-bottom-25{
	padding-top:25px;
	padding-bottom:25px;
	border-bottom:1px solid #f7f6f4;
}
.btn-primary {
	text-transform:uppercase;
	padding-left:20px;
	padding-right:20px;
	font-size:13px;
	font-family: 'robotomedium', sans-serif;
	background:#4879ab;
	border:none;
	padding-top:10px;
	padding-bottom:10px;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
	color: #fff;
	background:#2a7fd4;
}
.order-content .btn-primary {
	font-size:24px;
}
.order-content  .btn-danger {
	font-size:24px;
}
.your-cart-form #Idpromokod {
	height:57px;
}
@media(min-width:992px) {
	.order-content  .btn-primary {font-size:13px;}
	.order-content  .btn-danger {font-size:18px;}
	.your-cart-form #Idpromokod {height:40px; line-height:40px;}
}
.text-success {
	color:#0a920a;
}
.order-content  {
	padding-top:15px;
}
.order-content .h4 {
	font-weight:normal;
}
.order-content .block-5 .form-group{
	margin-bottom:0;
	width:140px;
	margin-right:5px;
	display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
}
.order-content .block-5 input[type="submit"] {
	display:inline-block;
}
.text-muted {
	color:#696969;
	font-size:13px;
}
.order-content table {
	float:right;
}
.order-content table tr td {
	text-align:right;
	width:100px;
	height:30px;
}
.guaranteed {
	margin-top:34px;
	padding-left:30px;
}
.guaranteed  a {
	color:#000000;
	text-decoration:underline;
}
.guaranteed h2 {
	font-size:20px;
	font-weight:300;
}
.guaranteed img {
	margin-top:20px;
}
/*container-checkout*/
.container-checkout {
	padding-bottom:40px;
	
}
@media(min-width:992px) {
	.container-checkout {padding-top:20px;}
	
}
.container-checkout a{
	color:#000000;
}
.checkout-header a{
	text-decoration:underline;
	margin-top:30px;
}

.checkout-address .col-sm-6 {
	width:100%;
	padding-top:40px;
	padding-bottom:40px;
	border-radius:3px;
	background:#eceff1;
	border-color:#eceff1;
}
@media(min-width:768px) {
	.checkout-address .col-sm-6  {width:49%;}
}
.container-checkout .checkout-address .col-sm-6.address-right {
	margin-left:0;
	margin-top:30px;
}
@media(min-width:768px) {
	.container-checkout .checkout-address .col-sm-6.address-right {margin-left:1%; margin-top:0;}
}
.checkout-address .col-sm-6.address-left {
	margin-right:1%;
	border-width:2px;
	border-style:solid;	
}
.border-address {
	border-color:#4879ab !important;
	background:#e6e9ec;
}
.checkout-address .col-sm-6.new-shipping-adress {
	padding-top:3px;
	padding-bottom:10px;
}
.col-sm-6 .new-checkout-address {
	background:#eceff1;
	border:2px solid #eceff1;
	margin-bottom:2px;
	padding-top:30px;
	padding-bottom:8px;
	border-radius:3px;
}
.checkout-address {
	padding:25px;
	margin-top:15px;
}
.checkout-address .col-sm-6.address-right {
	margin-left:1%;
	background:#eceff1;
	border:2px solid #eceff1;
	margin-bottom:30px;
}
.uppdate-password .btn-link {
	font-size:24px;
}
.uppdate-password .btn-danger {
	font-size:22px;
}
@media(min-width:992px) {
	.uppdate-password .btn-link {
		font-size:13px;
	}
	.uppdate-password .btn-danger {
		font-size:13px;
	}
}
.checkout-address .col-sm-6   p, .checkout-address .col-sm-6 button{
	margin-left:25px;
}
.container-checkout .text-muted {
	font-size:15px;
	margin-right:5px;
}
.container-checkout .billing-address .panel {
	background:#ffffff;
}
.container-checkout .billing-address .panel-default > .panel-heading {
	background:#ffffff;
}
.payment-information,  .billing-address,  .checkout-address {
	margin-bottom:20px;
}
.payment-information-right {margin-top:20px;}
@media(min-width:768px) {
	.payment-information-right {float:right; width:285px; margin-top:0; margin-right:15px;}
}
@media(min-width:768px) and (max-width: 820px) {
	.payment-information .payment-information-left{width:55%;}
}
@media(min-width:992px) {
	.payment-information .col-lg-6 {
	width:49%;
	}
	.payment-information .col-lg-6.payment-information-left {
		margin-right:1%;
	}
	.payment-information .col-lg-6.payment-information-right {
		margin-left:1%;
	}
	.payment-information-right {float:left;}
}

.payment-form {
	background:#7e8285;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	-khtml-border-radius:15px;
	border-radius:15px;
	padding-top:30px;
	padding-bottom:30px;
	color:#ffffff;
	text-transform:uppercase;
	font-size:13px;
}
.payment-form .form-control {
	height:40px;
	
}
.payment-form input {
	font-size:20px;
}
.payment-form .form-group {
	width:355px;
	margin:0 auto 15px;
}
.payment-form .form-group label{
	display:block;
	font-weight:normal;
}
.payment-form .form-group input, .payment-form .form-group  .form-group-2-1, .payment-form .form-group  .form-group-2-2 {
	display:inline-block;
}
.payment-form  .form-group-1 input {
	width:80px;
	margin-right:5px;
}
.payment-form  .form-group-2 input {
	width:167px;
}
.payment-form  .form-group-2-1 {
	margin-right:6px;
}

.form-control {
	background:#fdfdfd;
}
select.form-control  {
	color:#606060;
}
.form-group-3-2, .form-group-3-1 {
	width:155px;
	float:left;
	margin-right:18px;
}
.form-group-3-2 {
	position:relative;
}
.form-group-3-2 span{
	position:absolute;
	top:35px;
	left:69px;
	color:#000000;
}
.form-group-3-1 input {
	width:70px;
}

.form-group-3-2-1, .form-group-3-2-2{
	width:65px;
	display:inline-block;
}
.form-group-3-2-1 {
	margin-right:10px;
}
.form-group-3-2 select {
	height:40px;
	line-height:33px;
}
.form-group-3-2 .form-control {
	padding-left:6px;
	padding-right:6px;
}
/*order-history*/
.order-history {
	padding-top:20px;
	padding-bottom:70px;
}
.order-search {
	width:100%;
	background-color: #fdfdfd;
	border: 1px solid #ccc;
	border-radius: 4px;
	margin-top:20px;
	margin-bottom:20px;
}
.order-search input {
	float:left;
}
.order-search input[type="text"] {
	width:95%;
	background:none;
	display: block;
	height: 55px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #000;
	background-color: #fff;
	background-image: none;
	border:none;
	border-radius: 4px 0 0 4px;
}
.order-search input[type="image"] {
	width:20px;
	display:block;
	padding-top:18px;
}
@media(min-width:992px) {
	.order-search  {width:200px;}
	.order-search input[type="text"] {width:170px; 	height: 34px;}
	.order-search input[type="image"] {padding-top:7px;}
}
.container-checkout .checkout-a a{
	color:#ffffff;
}
.container-checkout .panel {
	background:#ffffff;
}
.container-checkout  .panel-default > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: #ffffff;
}
.container-checkout .btn-danger {
	font-size:24px;
}
@media(min-width:992px) {
	.container-checkout .btn-danger {font-size:18px;}
}
.order-history-table thead tr th{
	padding-top:10px;
	padding-bottom:10px;
	font-weight:normal;
	padding-left:30px;
}
.order-history-table .table > thead > tr > th {
	border-bottom:none;
}
.order-history-table tbody tr {
	background:#ffffff;
}
.order-history-table tbody tr td {
	padding-top:25px;
	padding-bottom:25px;
	padding-left:30px;
}
.order-history-table tbody tr td {
	
}
.order-history-table .status-process  {
	float:left;
	width:17px;
	height:15px;
	background:url(../images/status.png) no-repeat 100% 0;
	margin-top:4px;
	margin-right:7px;
}
.order-history-table .status-complete {
	float:left;
	width:17px;
	height:15px;
	background:url(../images/status.png) no-repeat 0 0;
	margin-top:4px;
	margin-right:7px;
}
.account-information .checkout-address .btn-primary {
	padding-left:40px;
	padding-right:40px;
}
.account-information .checkout-address .btn-link {
	color:#82161b;
	text-transform:uppercase;
}
.account-information a {
	color:#000000;
}
.account-information .h1 {
	margin-bottom:25px;
}
.ship-address {
	margin-bottom:15px;
}
.uppdate-password .btn-link{
	text-transform:uppercase;
	color:#6f7479;
	margin-right:30px;
}
.btn-link {
	font-family: 'robotomedium', sans-serif;
}
.mg-right {
	margin-right:20px;
}
/*email-content*/
.email-content .container{
	background:#ffffff;
}
.email-content header {
	padding:60px 0;
	background:url(../images/email-header.jpg) repeat-x 0 0;
}
.email-content h1 {
	margin-bottom:25px;
}
.email-content h1 span{
	font-weight:500;
}
.email-content h1 small {
	color:#000000;
}
.order-datails {
	border:10px solid #eceff1;
	padding-top:25px;
	padding-bottom:25px;
	margin-bottom:150px;
}
.email-quation a {
	color:#000000;
	text-decoration:underline;
}
.email-content .footer-email {
	padding-top:50px;
	padding-bottom:40px;
}
.email-footer-menu li {
	float:left;
	margin-right:25px;
}
@media(min-width:768px) {
	.email-footer-menu li {margin-right:50px;}
}
.email-footer-menu li a {
	color:#444444;
	text-transform:uppercase;
}
/*bg-profile*/
.bg-profile {
	background:url(../images/bg-profile.jpg) center center no-repeat;
	width:100%;
	height:100%;
	background-size:cover;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-khtml-background-size:cover;
	-o-background-size:cover;
}
.my-profile .btn{
	width:200px;
	text-align:center;
	font-size:24px;
}
.container-profile {
	margin-top:100px;
	margin-bottom:100px;
}
@media(min-width:768px) {
	.container-profile {	margin-top:130px; 	margin-bottom:130px;}
}
@media(min-width:992px) {
	.container-profile {	margin-top:150px; 	margin-bottom:150px;}
	.my-profile .btn{font-size:13px;}
}
.my-profile {
	padding:40px;
	text-align:center;
}
#profile-form {
	margin-top:20px;
}
.my-profile .btn-primary {
	float:right;
}
.my-profile .form-control-static {
	text-decoration:underline;
}
.my-profile .form-control-static a {
	color:#000000;
}
.form-group .error {
	border:1px solid #e5262f;
	-webkit-box-shadow:none;
          box-shadow: none;
}
.help-form  label.error {
	color:#e5262f;
	font-size:12px;
	font-weight:normal;
	border:none;
	-webkit-box-shadow:none;
    box-shadow: none;
}
.form-group {
	position:relative;
}
.new-checkout-address  label.error, #profile-form  label.error {
	position:absolute;
	color:transparent;
	font-size:13px;
	font-weight:normal;
	border:none;
	-webkit-box-shadow:none;
    box-shadow: none;
	display:block;
	padding:5px;
	margin-top:-15px;
}
@media(min-width:768px) {
	.new-checkout-address  label.error{
		position:absolute;
		top:0;
		left:101%;
		color:#e5262f;
		font-size:13px;
		font-weight:normal;
		border:none;
		-webkit-box-shadow:none;
		box-shadow: none;
		display:block;
		width:261px;
		background:url(../images/back-error.png) no-repeat;
		padding-top:5px;
		padding-left:47px;	
		height:48px;
		line-height:40px;
		margin-top:-6px;
	}
}
@media(min-width:992px) {
	#profile-form  label.error {
		position:absolute;
		top:0;
		left:101%;
		color:#e5262f;
		font-size:13px;
		font-weight:normal;
		border:none;
		-webkit-box-shadow:none;
		box-shadow: none;
		display:block;
		width:261px;
		background:url(../images/back-error.png) no-repeat;
		padding-top:5px;
		padding-left:47px;	
		height:48px;
		line-height:40px;
		margin-top:-6px;
	}
}
.agree label.error  {
	position:relative;
	color:#e5262f;
	margin-top:-23px;
	display:block;
	
}
.agree-bill label.error {
	color:#e5262f;
	float:right;
}
.agree .btn-danger{
	padding-left:15px;
	padding-right:15px;
}
@media(min-width:750px) {
	.agree .btn-danger {padding-left:50px; padding-right:50px;}
}
.form-control {
	height:38px;
}
/*order-details*/
.order-details .back {
	color:#000000;
}
.order-details h1 {
	margin-bottom:25px;
}
.font-13 {
	font-size:13px;
}
.order-details table  tbody tr td{
	padding-left:25px;
	padding-right:25px;
	background:#ffffff;
	padding-top:20px;
	padding-bottom:20px;
}
.order-details table  thead tr th{
	padding-top:15px;
	padding-bottom:15px;
	font-weight:normal;
	font-size:13px;
	padding-left:25px;
	padding-right:25px;
}
.order-details table  tbody tr.table-footer  td{
	padding-top:10px;
	padding-bottom:10px;
	background:#e6e9ec;
}
.order-details table {
	margin-bottom:50px;
}
.order-details  .table-order-progress {
	margin-bottom:10px;
}
.td-top {
	padding-top:4px;
	display:block;
}
.td-left {
	text-align:right;
}
.order-details .table-order-progress tbody tr  td{
	padding-top:30px;
	padding-bottom:30px;
}
.table-order-progress {
	margin-top:30px;
}
.order-details {
	padding-top:10px;
}
.order-ship-address {
	background:#ffffff;
	padding:40px 35px;
	margin-top:0;
}
@media(min-width:768px) {
	.order-address .row {margin-left:10px; margin-top:113px; }
	.order-ship-address {padding:40px 25px;}
}
@media(min-width:992px) {
	.order-address .row { margin-top:135px; }
	.order-ship-address {padding:40px 35px;}
}
body.modal-open {
	padding-right:0 !important;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	body.modal-open {
		padding-right:0 !important;
	}
}	
.new-shipping-adress .btn-primary {
	margin-left:20px;
}

div#inifiniteLoader{
    z-index: 1000;
    display:none;
    text-align: center;
}


